.page {
  display: flex;
  min-height: 100svh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: var(--font-geist-sans);
}

.main {
  max-width: 32rem;
  text-align: center;
}
